.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9fafb;
}

.register-box {
    margin-top: 12rem;
    height: 40vh;
    width: 24rem;
    padding: 2rem;
    border: 0.5rem solid rgb(50, 116, 116);
    border-radius: 0.5rem;
    box-shadow: 0 1rem 1rem rgb(47, 79, 79, 0.1);
    background-color: #fff;
    text-align: center;
    transform: scale(0);
    animation: growBox 0.6s ease-out forwards;
}

@keyframes growBox {
    0% {
        transform: scale(0);
    
        opacity: 0;
    
    }

    100% {
        transform: scale(1);

        opacity: 1;
    
    }
}

.register-header h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1f2937;
}

.register-header p {
    font-size: 0.875rem;
    color: #6b7280;
    margin-top: 0.5rem;
}

.register-form {
    margin-top: 1.5rem;
}

.sign-up {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: rgb(50, 116, 116);
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.sign-up:disabled {
    background-color: #d1d5db;
    cursor: not-allowed;
}

.sign-up:hover:not(:disabled) {
    background-color: rgb(66, 148, 148);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: underline;
}